

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}



body{
    max-width: 1440px;
    margin: 0 auto;
}

/* shared style */
.flex{
  display: flex;
}

.btn{
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  padding: 10px 60px ;
  border-radius: 12px;
  color: white;
}



/* navbar style */

.navbar{
  justify-content: space-between;
  align-items: center;
}

.school{
  align-items: center;
  gap: 10px;
}
.nav-title{
  font-weight: bold ;
  font-size: 2rem;
}

.nav-items {
  list-style: none;
  gap:32px;
}


/*  list style */
#home{
  color: orange;
  
}
#about{
  color: skyblue;
}
#facilities{
  color:#05D4DF;
}
#admission{
  color: #5D58EF;
}

.nav-links {
  text-decoration: none;
  font-weight: bold;
  font-size: 1, 25rem;
}
.nav-links:hover{
  border-bottom: 1px solid;
}

.nav-btn{
  background-color: orange;
  transition: 0.7s;
}
.nav-btn:hover{
  transform: scale(1.05);
  background-color: darkorange;
}

.hamburger{
  display: none;
}


/* banner section */
.banner{
  align-items: center;
  justify-content: space-between;
 
}
.banner-intro{
  width: 640px;
}

#orange-clr {
  color: orange;
}

#blue-clr {
  color: skyblue;
}



.banner-title{
  font-weight: bold;
  font-size: 3.5rem ;
  align-items: center;
  
}

.banner-description {
  font-weight: 400;
  font-size: 1.25rem;
}

.banner-btn{
  background-color: black ;
  transition: 0.7s;
}
.banner-btn:hover{
  transform: scale(1.05);
  background-color: rgb(46, 44, 44);
}


.banner-img{
  width: 470px;
}






/* responsive */
@media screen and (max-width:576px) {


  .navbar {
    padding: 10px 30px;
    border-bottom: 1px solid orange;
    justify-content: space-between;

}
  .nav-title{
    display: none;
  }

  .nav-lists{
    display: none;
  }
  .nav-btn{
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 20px;

}

.banner {
  flex-direction: column-reverse;
  text-align: center;
  justify-items: center;
}

.banner-intro {
width: 90vw;
  text-align: center;
}
.banner-img {
  width: 90vw;

}
}